<!-- <h2>Reset Password</h2>
<form (ngSubmit)="onSubmit()">
  <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password" required>
  <button type="submit">Reset Password</button>
</form>

<p *ngIf="message" style="color:green">{{ message }}</p>
<p *ngIf="error" style="color:red">{{ error }}</p> -->



<div class="flex min-h-screen items-center justify-center px-4 bg-gradient-to-tl from-purple-500 to-pink-400">
    <div class="w-full max-w-[55rem] bg-white p-8 rounded-xl shadow-2xl">
        <h1 class="text-2xl font-bold text-center mb-1 uppercase text-[#f76d85]">Reset Password</h1>
        <div class="border-2 border-purple-600 w-[5rem] justify-self-center"></div>
        <div class="flex flex-col-reverse sm:flex-row">
            <div class="sm:w-1/2">
                <img src="public/signup/reset.jpg" alt="">
            </div>
            <div class="sm:w-1/2 border-2 border-[#c862c2] rounded-xl my-6">
                <form (ngSubmit)="onSubmit()" class="sm:mt-[7rem] mt-[2rem]">
                    <div class="flex justify-center">
                        <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password" required
                            class="w-[87%] p-2 mb-4 border-2 rounded-full" />
                    </div>

                    <div class="flex justify-center w-full">
                        <button type="submit"
                            class="bg-yellow-600 text-white p-2 rounded-full hover:bg-yellow-700 mb-4 font-semibold">Update New Password</button>
                    </div>
                    <p *ngIf="message" style="color:green">{{ message }}</p>
                    <p *ngIf="error" style="color:red">{{ error }}</p>
                </form>
            </div>
        </div>
    </div>


</div>